<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a header</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium ratione, excepturi error, illum nisi cupiditate aliquam placeat perferendis fuga quaerat! Libero cupiditate aperiam impedit atque eveniet neque qui tempora.</p>
    <p>Second paragraph.</p>
</body>
</html>